BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sys_rst_n" SITE "N14" ;
LOCATE COMP "lcd_led" SITE "G13" ;
LOCATE COMP "lcd_cs" SITE "N6" ;
LOCATE COMP "lcd_dc" SITE "P8" ;
LOCATE COMP "lcd_mosi" SITE "N7" ;
LOCATE COMP "lcd_rst" SITE "N8" ;
LOCATE COMP "lcd_sclk" SITE "P7" ;
LOCATE COMP "sys_clk" SITE "C1" ;
IOBUF PORT "lcd_cs" SLEWRATE=SLOW IO_TYPE=LVCMOS25 ;
